:root {
  --font-color: rgb(35, 182, 182);
  --border-styling: 8px solid #00487b;
  --seperation-line: 5px solid #024c82;
  --absolute-position: position: absolute;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #cae8f3;
}
header {
  padding: 20px;
  background-color: rgb(61, 59, 59);
}
.nav {
  width: 100%;
}
h1 {
  display: inline-block;
  font-size: 48px;
  color: var(--font-color);
}

.links {
  padding-top: 15px;
  margin-right: 40px;
  float: right;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}
a:hover {
  font-size: 25px;
}
a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bolder;
}
.profile {
  width: 100%;
  position: relative;
  border: var(--border-styling);
}
.over-img {
  position: var(--absolute-position)
  left: 65%;
  top: 20%;
  border: var(--border-styling);
}
.vertical {
  border-left: var(--seperation-line);
  height: 120px;
  position: var(--absolute-position)
  left: 29%;
  margin-top: 15px;
}
.vertical-work {
  border-left: var(--seperation-line);
  height: 715px;
  position: var(--absolute-position)
  left: 29%;
}
.vertical-contact {
  border-left: var(--seperation-line);
  height: 40px;
  position: var(--absolute-position)
  left: 29%;
  margin-top: 20px;
}
.vertical-resume {
  border-left: var(--seperation-line);
  height: 40px;
  position: var(--absolute-position)
  left: 29%;
  margin-top: 20px;
}
.about-page {
  margin-left: 30%;
}
p {
  margin-top: -50px;
  font-size: 20px;
}
.frameworks {
  margin-left: -65px;
  margin-top: 15px;
  padding-bottom: 20px;
  font-weight: 900;
  color: #3d3b3b;
}
.table {
  margin-top: 30px;
  color: var(--font-color);
  font-size: 30px;
  margin-left: 180px;
}
.work-page {
  margin-left: 30%;
}
.weather {
  width: 60%;
  margin-top: -85px;
  border: var(--border-styling);
  margin-left: 60px;
  transform: scale(1.2, 0.9);
}
.weather:hover {
  transform: scale(1.3, 1);
}
.world-clocks {
  width: 248px;
  border: var(--border-styling);
  transform: scale(1.3, 1.4);
  margin-left: 45px;
}
.world-clocks:hover {
  transform: scale(1.4, 1.5);
}
.pink-page {
  width: 290px;
  border: var(--border-styling);
  transform: scale(1.2, 1.5);
  margin-right: 200px;
  margin-top: 7px;
}
.pink-page:hover {
  transform: scale(1.3, 1.6);
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}
.contact-page {
  margin-left: 25%;
  padding-top: 15px;
  margin-top: -40px;
  color: #108092;
}
.contact-page a:hover {
  color: #024c82;
  font-weight: bolder;
}
a {
  font-size: 20px;
}
.resume-page {
  margin-left: 30%;
  margin-top: -30px;
}
footer {
  padding-bottom: 40px;
}
