* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: azure;
}
header {
  padding: 20px;
  background-color: rgb(61, 59, 59);
}
.nav {
  width: 100%;
}
h1 {
  display: inline-block;
  font-size: 48px;
  color: rgb(35, 182, 182);
}

.links {
  padding-top: 15px;
  margin-right: 40px;
  float: right;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: rgb(35, 182, 182);
  text-decoration: none;
}
.profile {
  width: 100%;
  position: relative;
}
.over-img {
  position: absolute;
  left: 65%;
  top: 20%;
}
.vertical {
  border-left: 5px solid #024c82;
  height: 80px;
  position: absolute;
  left: 29%;
  margin-top: 15px;
}
.vertical-work {
  border-left: 5px solid #024c82;
  height: 700px;
  position: absolute;
  left: 29%;
}
.vertical-contact {
  border-left: 5px solid #024c82;
  height: 60px;
  position: absolute;
  left: 29%;
  margin-top: 20px;
}
.vertical-resume {
  border-left: 5px solid #024c82;
  height: 60px;
  position: absolute;
  left: 29%;
  margin-top: 20px;
}
.about-page {
  margin-left: 30%;
}
p {
  margin-top: -50px;
  font-size: 20px;
}
.frameworks {
  margin-left: -65px;
  margin-top: 15px;
  padding-bottom: 20px;
  font-weight: 900;
  color: #3d3b3b;
}
.table {
  margin-top: 30px;
  color: rgb(35, 182, 182);
  font-size: 30px;
  margin-left: 180px;
}
.work-page {
  margin-left: 30%;
}
.weather {
  width: 60%;
  margin-top: -85px;
  border: 8px solid rgb(175, 234, 234);
  margin-left: 60px;
  transform: scale(1.2, 0.9);
}
.weather:hover {
  transform: scale(1.3, 1);
}
.world-clocks {
  width: 248px;
  border: 8px solid rgb(175, 234, 234);
  transform: scale(1.3, 1.4);
  margin-left: 45px;
}
.world-clocks:hover {
  transform: scale(1.4, 1.5);
}
.pink-page {
  width: 290px;
  border: 8px solid rgb(175, 234, 234);
  transform: scale(1.2, 1.5);
  margin-right: 200px;
  margin-top: 7px;
}
.pink-page:hover {
  transform: scale(1.3, 1.6);
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}
.contact-page {
  margin-left: 25%;
  padding-top: 15px;
  margin-top: -40px;
}
.contact-page a:hover {
  color: #024c82;
  font-weight: bolder;
}
a {
  font-size: 20px;
}
.resume-page {
  margin-left: 30%;
}
footer {
  padding-bottom: 40px;
}


