@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {

}
* {
  
}
body {
  background-color: #FBECD4;
  font-family: 'Inconsolata', monospace;
}

.header-text{
  display: inline-block;
  font-size: 34px;
} */
.navbar{
  display: flex;
justify-content: flex-end;
}
.navbar a {
  margin-right: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  
}



@media screen and (min-width: 320px) and (max-width: 767px) {
}