@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
--color: black;
}
* {
}

body {
  background: linear-gradient(
    to bottom,
    #3C3E40 0%,
    #3C3E40 50%,
    #252729 50%,
    #252729 100%
    /* #2C2D32 0%,
    #2C2D32 50%,
    #43454c 50%,
    #43454c 100% */
    );
     background-repeat: repeat-y;
     background-size: 100% 200vh; 
     height: 200vh;
     font-family: 'Inconsolata', monospace;
}

.header-text{
  font-size: 30px;
  position: absolute;
  display:flex;
  align-items: center;
  z-index:100;
  margin-top: -16px;
  margin-left: 30px;
} 

.header-name{
font-size: 35px;
color: #DEE2E6;
margin-left: -120px;
}
.header-title{
font-size: 35px;
color: #DEE2E6;
 margin-left: 50px;
}
.navbar{
  display: flex;
justify-content: flex-end;
font-family: montserrat;
}

.navbar a {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: white;
}

.navbar a:hover{
transform:translateY(-10px);
background-color: #DC2F02;
color: white;
}
a:visited {
    color: aliceblue;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}