@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

:root {
  --color: black;
}
* {
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../src/assets/images/abstract-color.jpg");
  background-size: 100% 100vh;
  height: 200vh;
  font-family: "Inconsolata", monospace;
     max-width: 100%;
  overflow-x: hidden !important;
}
