.contact-title{
 font-size: 4em;
  text-align: center;
  color: #DC2F02 ;
  padding-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin-left: 40px;
  width:50%;
}
#phone,#subject{
padding: 20px;
border-radius: 10px;
margin-top: 20px;
font-size: 15px;
}
#name{
padding: 20px;
border-radius: 10px;
margin-top: 20px;
width: 40%;
transform: translateY(102%);
font-size: 15px;
}
#email{
padding: 20px;
border-radius: 10px;
width: 40%;
transform: translateX(112%); 
font-size: 15px;
}
#message{
  padding: 30px 0px 80px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

#submit{
  padding: 10px;
  border-radius: 10px;
  width: 25%;
  font-size: 15px;
}

.contact-details{
margin-top: -560px;
margin-left: 800px;
font-size: 20px;
}


 .icons{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-top: 30px;
  color: white;
  gap: 60px;
 }
 .phone-titles{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: -350px;
  color: white;
  gap: 10px;
  margin-left: 60px;
  transform: translateY(10%); 
 }
 .email-titles{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 50px;
  color: white;
  gap: 10px;
  margin-left: 60px;
 }
 .contact-titles{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 50px;
  color: white;
  gap: 10px;
  margin-left: 60px;
 }

 .contact2-titles{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 50px;
  color: white;
  gap: 10px;
  margin-left: 5px;
 }

 a{
    color: white;
}
