.project-title {
  font-size: 7em;
  text-align: center;
  color: #DC2F02 ;
  padding-top:1em;
  padding-bottom: -200px;
} 

h3{
    font-size: 30px;
}

.vertical-timeline-element-content{
   box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}
.vertical-timeline-element-subtitle{
    padding-top: 15px;
    font-size: 18px;
}
#description{
   padding-top: -5px;  
   padding-bottom: 20px;
}
.date{
    color: white;
}
.button{
  text-decoration: none;
  background-color: #DC2F02;
  border-radius: 10px;
  padding: 8px;
}
.buttonText1:hover, .buttonText2:hover{
  background-color: #dc8802;
}
.buttonText1{
  background-color: #DC2F02;
  padding: 10px;
  border-radius: 10px;
}
.buttonText2{
  background-color: #DC2F02;
  padding: 10px;
  border-radius: 10px;
  justify-content:flex-end;
}
.buttonText1,.buttonText2{
margin-right: 30px;
}
.icon{
font-size: 40px;
text-align: center;
}

@media screen and (min-width: 390px) and (max-width: 1024px) {
.project-title{
  font-size: 4em;
margin-top: 10px;
}
.buttonText1, .buttonText2{
display: flex;
flex-direction: column;
margin-top: 10px;
}
}