body {
  margin: 0;
}

.projects {
  margin-top: 57px;
  background-color: #000416;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-title {
  font-size: 7em;
  text-align: center;
  color: #15cdcd;
  padding-top: 1em;
  padding-bottom: -200px;
}

.vertical-timeline-element-title {
  font-size: 30px;
  color:#640B31;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}
.vertical-timeline-element-subtitle {
  padding-top: 15px;
  font-size: 18px;
}
#description {
  padding-top: -5px;
  padding-bottom: 20px;
}
.date {
  color: rgb(181, 230, 236);
}

.buttonText1:hover,
.buttonText2:hover {
  background-color: #0aabab;
}
.buttonText1 {
  background-color: #078282;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.buttonText2 {
  background-color: #078282;
  padding: 10px;
  border-radius: 10px;
  justify-content: flex-end;
  font-weight: bold;
}
.buttonText1,
.buttonText2 {
  margin-right: 30px;
}
.icon {
  font-size: 40px;
  text-align: center;
}

@media screen and (min-width: 390px) and (max-width: 1024px) {
  .project-title {
    font-size: 4em;
    margin-top: 10px;
  }
  .buttonText1,
  .buttonText2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
