.test-title{
font-size: 4em;
text-align: center;
color: #DC2F02 ;
padding-top: 1em;
padding-bottom: 10px;
}

.container{
    text-align: center;

}
.alejandra,.madeleine,.matthieu {
border-radius: 50%;
width: 15%;

}
.quotes{
font-size: 25px;
padding-bottom: 20px;
color: gray;
} 

.quotes,.name,.from{
text-align: center;
}

.quote{
font-size: 22px;
width: 1040px; 
height: 250px;
color: white;
margin-top: 30px;
}
.name{
padding-bottom: 15px;
font-size: 20px;
color: white;
}
.from{
height: 20px;
font-size: 20px;
color: gray;
} 